<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scut.curriculum">

    <application>
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".CurriculumMainActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>